.contact{
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;

    .form{
        margin-top: 1rem;

        .name-surname{
            display: flex;
            gap: .6rem;
        }
    }
    
}


@media (max-width: 1450px) {
    .block-1{
        flex-direction: column;
        gap: 3rem;
        margin-bottom: 4rem;

        .left-col{
            width: 80%;
        }

        .info{
            width: 80%;
        }
    }

    .contact .vacations {
        margin-left: 0;
        margin-top: 0;
    }
}

@media (max-width: 1000px) {
    .contact{

        .left-col{
            width: 100%;
        }

        .info{
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    .contact{
        width: 92%;

        .left-col{
            width: 100%;
        }

        .info{
            width: 100%;
        }
    }
}

@media (max-width: 500px) {
    .contact{

        .left-col{
            padding: 1.5rem;
        }

        .form{
            margin-left: .2rem;
            grid-template-areas: 
                "NAME NAME"
                "SURNAME SURNAME"
                "EMAIL EMAIL"
                "MESSAGE MESSAGE"
                "BTN BTN";
        }
    }

    .contact .vacations .apply {
        margin-top: 1rem;
        font-size: 1.2em;
    }
}