.customize{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 5rem;

    .left-col{
        width: 100%;
    }


    h2{
        margin-bottom: .2rem;
    }

    .form{
        width: 100%;

        .block{
            margin-top: 1.2rem;
        }

        .font{

            .additional{
                display: flex;
                align-items: center;

                select{
                    width: 400px;
                    height: 30px;
                    background-color: #D8C3A5;
                    border: none;
                }

                .error {
                    border: 1px solid #E85A4F;
                }
                
                img{
                    width: 36px;
                    margin-left: .8rem;
                    margin-right: .4rem;
                    cursor: pointer;
                }

                span{
                    display: flex;
                    align-items: center;
                }
            }
        }

        .big-content{
            display: flex;
            flex-direction: column;
        }

        .title{
            input{
                padding: 1.2rem 1rem;
                background-color: #D8C3A5;
                width: 100%;
                height: 30px;
                border: none;
                outline: none;
            }
        }

        .content{
            .content-header{
                display: flex;
                align-items: center;
                gap: 1.2rem;

                span{
                    color: #E85A4F;
                }
            }
            
            textarea{
                padding: 1.2rem 1rem;
                background-color: #D8C3A5;
                width: 100%;
                height: 450px;
                border: none;
                outline: none;
                resize: none;
            }

            .error {
                border: 1px solid #E85A4F;
            }
        }

        .mistakes{
            input[type=checkbox]{
                display: none;
            }

            label{
                cursor: pointer;
                user-select: none;
            }
            
            label::before{
                content: '';
                background-color: #D8C3A5;
                display: inline-block;
                width: 1.25rem;
                height: 1.25rem;
                flex-shrink: 0;
                flex-grow: 0;
                border: 1px solid #adb5bd;
                border-radius: .25rem;
                margin-right: .5rem;
                margin-bottom: -.25rem;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;
            }
            
            input[type=checkbox]:checked+label::before{
                border-color: #D8C3A5;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='red' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");  
            }
        }

        .mistakes-input{
            overflow: hidden;
            
            textarea{
                padding: 1.2rem 1rem;
                background-color: #D8C3A5;
                width: 100%;
                height: 100px;
                border: none;
                outline: none;
                resize: none;
            }
        }

        .details{
            textarea{
                padding: 1.2rem 1rem;
                background-color: #D8C3A5;
                width: 100%;
                height: 100px;
                border: none;
                outline: none;
                resize: none;
            }
        }
    }

    .buttons{
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button{
            @include button;
            padding: .6rem 5rem;
        }

        .disabled{
            cursor: unset;
            background-color: #B4B1A7;

            &:hover{
                background-color: #B4B1A7;
            }
        }
        
        a{
            color: #E85A4F;
            transition: all .15s ease-in-out;

            &:hover{
                color: #E98074;
            }
        }

    }

    .right-col{
        width: 25%;

        h1{
            margin-bottom: 2.5rem;
        }

        .option{
            background-color: #E85A4F;            
            padding: 1rem 2rem;
            padding-top: 3.5rem;
            border-radius: 10px;
            margin-bottom: 3rem;
            position: relative;
            
            span{
                position: absolute;
                left: 1rem;
                top: -1.5rem;
                padding: 1rem 1.5rem;
                border-radius: 10px;
                display: flex;
                align-items: center;
                background-color: #232424;
                gap: 1rem;
                
                h2{
                    margin: 0;
                    color: #fff;
                }
                
                p{
                    font-size: 1.4em;
                    color: #E85A4F;

                    strong{
                        font-size: 1.3em;
                    }
                }
            }

            .desc{
                margin-bottom: 1rem;
                margin-left: .5rem;
                
                p{
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    color: #fff;
                    font-size: 1.1em;
                    border-bottom: 1px solid #B4B1A7;
                    padding-bottom: .5rem;
                    margin-bottom: .5rem;
                }
            }

            button{
                @include button;
                background-color:#D8C3A5;
            }

        }
    }
}


@media (max-width: 1400px) {
    .customize{
        width: 85%;
    }
}

@media (max-width: 1200px) {
    .customize{
    
        .form{
            width: 60%;
        }
    }
}

@media (max-width: 1000px) {
    .customize{
    
        .form{
            width: 75%;
        }
    }
}

@media (max-width: 800px) {
    .customize{
    
        .form{
            width: 90%;
        }
    }
}

@media (max-width: 800px) {
    .customize{
    
        .form{
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    .customize .buttons {
        display: block;

        a{
            display: block;
            margin-top: 1rem;
        }
    }

    .customize .form .font .additional {
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;

        select{
            width: 100%;
        }

        span{
            gap: 1rem;
        }
    }
}