.destination{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 2rem;
    position: relative;

    [class*="copyrights-pane"] {
        display: none;
      }
    
    .form{
        width: 50%;
        margin-left: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .left-col{
        width: 100%;
        
        .h-wrapper{
            display: flex;
            // align-items: center;
            gap: .5rem;
        }

        .warn{
            font-size: .8em;
            margin-top: auto;
            margin-bottom: .6rem;
            color: #8d8c8a;
        }
    }
    
    h1{
        color: #E85A4F;
        margin-bottom: 1rem;
    }

    h2{
        margin: .4rem 0;
    }

    .input-block{
        display: flex;
    }
    
    img{
        height: 35px;
        align-items: center;
        cursor: pointer;
    }
    
    input{
        font-size: 1.15em;
        height: 35px;
        padding: .6rem 1.2rem;
        width: 100%;
        background-color: #D8C3A5;
        border: 1px solid #D8C3A5;
        outline: none;
        transition: all .1s ease-in-out;
        margin-bottom: .5rem;

        &:focus{
            border: 1px solid#B4B1A7;
        }
    }

    .date-input{
        user-select: none;
    }

    .error{
        border: 1px solid #E85A4F;
    }

    .city{
        cursor: not-allowed;
    }

    textarea{
        width: 100%;
        resize: none;
        background-color: #D8C3A5;
        border: none;
        height: 200px;
        font-size: 1.15em;
        padding: .6rem 1rem;
        border: 1px solid #D8C3A5;
        outline: none;
        transition: all .1s ease-in-out;

        &:focus{
            border: 1px solid#B4B1A7;
        }
    }
    
    .map-container{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        
        .map-wrapper{
            display: none;
            position: relative;
            
            .map{
                display: none;
            }
            
            .opened-map{
                display: block;
                width: 95vw;
                height: 80vh;
            }
            
            button{
                left: 0;
                top: -1rem;
                position: absolute;
            }
        }
        
        .opened{
            display: block
        }
    }


    button{
        @include button;
        margin-top: .8rem;
        padding: .6rem 5rem;
    }
}


@media (max-width: 1200px) {
    .destination .form{
        width: 70%;
    }

    .destination .map-container .map-wrapper {
        left: 0%;
    }
}

@media (max-width: 850px) {
    .destination .form{
        width: 85%;
    }
}

@media (max-width: 700px) {
    .destination .form{
        width: 95%;
    }

    .destination h1 {
        font-size: 1.8em;
    }
}

@media (max-width: 600px) {
    .destination .form{
        width: 95%;
    }

    .destination h1 {
        font-size: 1.5em;
    }
    
    .destination h2 {
        font-size: 1.1em;
    }
}

@media (max-width: 500px) {
    .destination{
        width: 95%;
    }

    .destination h1 {
        font-size: 1.35em;
    }
}

@media (max-width: 400px) {
    .destination .form button {
        width: 100%;
    }
}

@media (max-width: 350px) {
    .destination{
        width: 95%;
    }

    .destination .form{
        margin-left: .4rem;
    }

    .destination h1 {
        font-size: 1.35em;
    }
}