.forgot-page{
    margin-left: 8rem;
    margin-top: 5rem;
    margin-bottom: 32rem;

    h1{
        margin-bottom: .5rem;
    }

    .block{
        position: relative;
        margin-bottom: 1rem;
    }

    .email-block{
        margin-top: 2rem;
        
        input{
            height: 40px;
            padding: .6rem 1.2rem;
            width: 400px;
            background-color: #D8C3A5;
            border: none;
            outline: none;
        }

        .text-label{
            z-index: 1;
            position: absolute;
            top: .4rem;
            left: 1rem;
            font-size: 1.2em;
            cursor: text;
            color: rgba(0, 0, 0, 0.68);
        }

    }

    button{
        @include button;
        padding: .6rem 3rem;
    }

    .success-reset{
        opacity: 0;
        margin-top: 1rem;
        color: #E85A4F;
    }
}