@import "./presets";

.home-wrapper{
    position: relative;

    .extended{
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        
        img{
            scale: 1;
        }
    }
}

.home{
    display: flex;
    flex-direction: column;
    position: relative;

    .bg-ink{
        position: absolute;
        width: 86px;
        height: 86px;
        z-index: -1;
    }

    .image-1{
        left: 137px;
        top: 188.09px;

        transform: rotate(-35.63deg);
    }

    .image-2{
        left: 556.46px;
        top: 125px;

        transform: rotate(13.08deg);
    }
    
    @media (max-width: 656px) {
        .image-2{
            display: none;
        }
    }
    
    .image-3{
        left: 1399.41px;
        top: 209px;

        transform: rotate(20.71deg);
    }
    
    @media (max-width: 1499px) {
        .image-3{
            display: none;
        }
    }
    
    .image-4{
        left: 1674.57px;
        top: 198.17px;

        transform: rotate(-33.54deg);
    }
    
    @media (max-width: 1774px) {
        .image-4{
            display: none;
        }
    }
    
    .image-5{
        left: 1219.41px;
        top: 30px;

        transform: rotate(40.99deg);
    }
    
    @media (max-width: 1319px) {
        .image-5{
            display: none;
        }
    }
    
    .image-6{
        left: 986px;
        top: 130.63px;

        transform: rotate(-11.15deg);
    }

    
    @media (max-width: 1086px) {
        .image-6{
            display: none;
        }
    }
    
    .image-7{
        left: 1698.84px;
        top: 743px;

        transform: rotate(21.01deg);
    }
    
    @media (max-width: 1799px) {
        .image-7{
            display: none;
        }
    }
    
    .image-8{
        left: 747.9px;
        top: 741.62px;
        
        transform: rotate(32.56deg); 
    }

    @media (max-width: 848px) {
        .image-8{
            display: none;
        }
    }
    
    .image-9{
        left: 800px;
        top: 555.28px;

        transform: rotate(-12.95deg);
    }
    
    @media (max-width: 901px) {
        .image-9{
            display: none;
        }
    }
    
    .image-10{
        left: 609px;
        top: 534.73px;

        transform: rotate(-33.71deg);
    }
    
    @media (max-width: 709px) {
        .image-10{
            display: none;
        }
    }
    
    .image-11{
        left: 1099px;
        top: 722.68px;

        transform: rotate(-35.29deg);
    }
    
    @media (max-width: 1199px) {
        .image-11{
            display: none;
        }
    }
    
    .image-12{
        left: 1651px;
        top: 1021.18px;

        transform: rotate(-33.27deg);
    }

    @media (max-width: 1751px) {
        .image-12{
            display: none;
        }
    }
    
    .image-13{
        left: 2.54px;
        top: 572.51px;

        transform: rotate(-38.87deg);
    }
    
    .image-14{
        left: 1405.98px;
        top: 976.94px;
        
        transform: rotate(-91.63deg); 
    }

    @media (max-width: 1506px) {
        .image-14{
            display: none;
        }
    }

    .image-15{
        left: 1220.3px;
        top: 513.25px;

        transform: rotate(-41.46deg);
    }

    @media (max-width: 1320px) {
        .image-15{
            display: none;
        }
    }

    .image-16{
        left: 1090.95px;
        top: 909.33px;

        transform: rotate(23.74deg);
    }
    
    @media (max-width: 1190px) {
        .image-16{
            display: none;
        }
    }
    
    .image-17{
        left: 1569px;
        top: 482.63px;

        transform: rotate(-47.72deg);
    }

    
    @media (max-width: 1669px) {
        .image-17{
            display: none;
        }
    }
    
    .image-18{
        left: 887.66px;
        top: 1002.84px;

        transform: rotate(-28.61deg);
    }

    
    @media (max-width: 987px) {
        .image-18{
            display: none;
        }
    }
    
    .image-19{
        left: 200.07px;
        top: 404.73px;

        transform: rotate(22.71deg);
    }
    .image-20{
        left: -5.48px;
        top: 924.44px;

        transform: rotate(39.83deg);
    }
    .image-21{
        left: 794px;
        top: 330.5px;

        transform: rotate(-18.65deg);
    }

    @media (max-width: 894px) {
        .image-21{
            display: none;
        }
    }
    
    .image-22{
        left: 429.47px;
        top: 871px;

        transform: rotate(29.59deg);
    }
    
    @media (max-width: 529px) {
        .image-22{
            display: none;
        }
    }
    
    .image-23{
        left: 1105.19px;
        top: 304.26px;

        transform: rotate(31.5deg);
    }

    @media (max-width: 1206px) {
        .image-23{
            display: none;
        }
    }

    .video-bg-block{
        position: relative;
        
        .video-bg{
            position: absolute;
            filter: brightness(60%) blur(10px) drop-shadow(16px 42px 10px #3f3f3f);
            width: 100%;
            height: 600px;
            
            object-fit: cover;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

        }   

        .hor-scrl-car-wrap{
            position: relative;
            height: 170vh;

            .hor-scrl-car-block{
                position: sticky;
                top: 0;
                display: flex;
                align-items: center;
                overflow: hidden;
                height: 100vh;
            }
        }
        
        
    }

    .language{
        position: absolute;
        right: 2.5rem;
        top: 8rem;
    }

    .blocks{
        display: flex;
        // position: absolute;
        // left: 50%;
        // transform: translateX(-50%);
        // width: 85%;
        // width: 200vw;
        min-width: 180vw;
        gap: 4rem;
        // margin: 0 auto;
        justify-content: space-between;
        user-select: none;
        overflow: hidden;
    }

    .block{
        background-color: transparent;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 650px;
        padding: 2rem 2rem;
        color: #EAE7DC;
        font-weight: 900;
        letter-spacing: 2px;
        font-size: 1.6em;
        white-space: pre-wrap;

        img{
            position: absolute;
            left: 0;
            top: 0;
            width: inherit;
            height: inherit;
            object-fit: cover;
            z-index: -1;
            filter: blur(2px) brightness(.4);
        }
    }

    // .pergament-previews{
    //     display: flex;
    //     justify-content: center;
    //     margin-top: 10rem;

    //     .pergament-paper{
    //         background-color:#D8C3A5;
    //         height: 800px;
    //         width: 600px;
    //         padding: 1.5rem;
    //         font-family: 'Bad Script', cursive;
    //         -o-font-family: 'Bad Script', cursive;
    //         -ms-font-family: 'Bad Script', cursive;
    //         -moz-font-family: 'Bad Script', cursive;
    //         font-size: 1.5em;
    //         user-select: none;
    //     }
    // }

    .order{
        text-align: center;
        margin: 0 auto;
        // margin-top: 4rem;
        @include button;
        padding: .8rem;
        width: 80%;
    }


    .header-options{
        font-size: 36px;
        letter-spacing: 4px;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .order-options{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 62%;
        margin: 0 auto;
        
        .card{
            position: relative;
            height: 450px;
            width: 350px;
            cursor: pointer;
            transition: all .15s ease-in-out;

            &:hover{
                scale: 1.01;
            }

            .bg-img{
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;
                height: 450px;
                width: 350px;
                object-fit: cover;
                filter: brightness(.4) blur(4px);
                box-shadow: 10px 6px 12px #3f3f3f;
            }

            .card-content{
                padding: .6rem 1rem;

                .title{
                    display: flex;
                    justify-content: space-between;
                    
                    .card-title{
                        font-size: 2em;
                        font-weight: 900;
                        color: white;    
                    }
                }

                .characteristics{
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                    font-size: 1.4em;
                    letter-spacing: 1.5px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: .6rem;
                }

            }
        }
    }

    .slick-slider-container{
        width: 70%;
        margin: 0 auto;
        margin-top: 2rem;

        h1{
            margin-bottom: 1rem;
        }

        .slick-slide{
            padding: 1rem;
        }

        .arrow-image-left{
            display: none;
            width: 100px;
            height: 100px;
            
            &::after{
                content: "";
                position: absolute;
                // top: -20%;
                // right: 2rem;
                transform: translateY(-50%) rotate(63deg); 
                width: 3px;
                height: 48px;
                background-color: #E85A4F;
                opacity: 1 !important;
            }

            &::before{
                content: "";
                position: absolute;
                // top: 87%;
                // right: 2rem;
                transform: translateY(-50%) rotate(-63deg); 
                width: 3px;
                height: 48px;
                background-color: #E85A4F;
                opacity: 1 !important;
            }
        }
        
        .arrow-image-right{
            display: none;
            
            &::after{
                content: "";
                position: absolute;
                top: -20%;
                left: 2rem;
                transform: translateY(-50%) rotate(-63deg); 
                width: 3px;
                height: 48px;
                background-color: #E85A4F;
                opacity: 1 !important;
            }

            &::before{
                content: "";
                position: absolute;
                top: 87%;
                left: 2rem;
                transform: translateY(-50%) rotate(-117deg); 
                width: 3px;
                height: 48px;
                background-color: #E85A4F;
                opacity: 1 !important;
            }
        }
    }


    .reviews{
        width: 70%;
        margin: 0 auto;
        margin-top: 4rem;

        .header-reviews{
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-bottom: 1.5rem;

            p{
                font-size: 40px;
                letter-spacing: 4px;
            }

            button{
                @include button;
            }
        }

        .leave-review{
            display: flex;
            overflow: hidden;
            align-items: center;
            gap: 2rem;

            div{
                display: flex;
                flex-direction: column;
            }
            
            img{
                object-fit: cover;
                border-radius: 100%;
                width: 120px;
                height: 120px;
            }

            .name{
                font-size: 32px;
                color: #E85A4F;
                font-weight: bold;
            }

            textarea{
                background-color: #D8C3A5;
                border: 1px solid #D8C3A5;
                outline: none;
                transition: all .1s ease-in-out;
                padding: .5rem;
                margin-top: .5rem;
                min-width: 400px;
                resize: none;
                
                &:focus{
                    border: 1px solid#B4B1A7;
                }
            }

            .file{
                display: none;
            }

            label{
                background-color: #E85A4F;
                padding: .6rem 1rem;
                margin-top: 1rem;
                color: white;
                display: flex;
                align-items: center;
                gap: .5rem;

                svg{
                    color: #D8C3A5;
                }
            }

            button{
                margin-top: 1rem;
                @include button;
                
            }
        }

        .review{
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-bottom: 1.5rem;
            
            img{
                object-fit: cover;
                border-radius: 100%;
                width: 120px;
                height: 120px;
            }

            .name{
                font-size: 32px;
                color: #E85A4F;
                font-weight: bold;
            }

            .desc{
                font-size: 18px;
            }

            .view{
                cursor: pointer;
                font-size: 1.4em;
                margin-top: .5rem;
                color: #E85A4F;
                transition: all .15s ease-in-out;

                &:hover{
                    color: #e67269
                }
            }
        }

        .more-reviews{
            @include button;
            width: 100%;
            margin: 2rem 0;
        }

        .disabled{
            cursor: unset;
            background-color: #B4B1A7;

            &:hover{
                background-color: #B4B1A7;
            }
        }
        
    }
}

// @media (max-width: 1800px) {
//     .home .block {
//         width: 22rem;
//         height: 26rem;
//         font-size: 1em;
//     }

//     .home .order-options {
//         width: 85%;
//     }

//     .home .slick-slider-container {
//         width: 85%;
//     }
// }

// @media (max-width: 1650px) {
//     .home .blocks {
//         // width: 92%;
//     }
// }

// @media (max-width: 1550px) {
//     .home .pergament-previews .pergament-paper {
//         height: 660px;
//         width: 480px;
//         font-size: 1.35em;
//     }

//     .home .order-options {
//         width: 95%;
//     }

//     .home .slick-slider-container {
//         width: 95%;
//     }
// }

// @media (max-width: 1400px) {
//     .home .block {
//         width: 20rem;
//         height: 26rem;
//         font-size: .95em;
//     }
    
//     .home .pergament-previews .pergament-paper {
//         height: 660px;
//         width: 480px;
//         font-size: 1.35em;
//     }

//     .home .order-options .wrapper .option {
//         padding: 1rem 5rem;
//         padding-top: 6rem;
//     }
// }

// @media (max-width: 1320px) {
//     .home .pergament-previews .pergament-paper {
//         height: 620px;
//         width: 420px;
//         font-size: 1.2em;
//     }

//     .home .order-options {
//         margin-top: 18rem;
//     }
// }

// @media (max-width: 1260px) {
//     .home .blocks {
//         position: unset;
//         transform: none;
//         gap: 3rem;
//         align-items: center;
//     }
    
//     .home .block {
//         width: 26rem;
//         height: 32rem;
//         font-size: 1.2em;
//     }
    
//     .home .order-options {
//         margin-top: 5rem;
//     }
// }

// @media (max-width: 1200px) {
//     .home .order-options .wrapper .option {
//         padding: 1rem 4rem;
//         padding-top: 6rem;
//     }
// }

// @media (max-width: 1050px) {
//     .home .order-options .wrapper .option {
//         padding: 1rem 3rem;
//         padding-top: 6rem;

//         .before{
//             font-size: .74em;
//         }
//     }
// }

// @media (max-width: 1000px) {
//     .home .order-options .wrapper .option {
//         padding: 1rem 2.5rem;
//         padding-top: 6rem;

//         .before{
//             font-size: .7em;
//         }
//     }
    
//     .home .reviews {
//         width: 87%;
//     }

//     .home .block {
//         width: 22rem;
//         height: 28rem;
//         font-size: 1em;
//     }
// }

// @media (max-width: 900px) {
//     .home .order-options .wrapper {
//         grid-template-columns: 1fr;
//         width: 60%;
//         margin: 0 auto;

//         .option{
//             margin-top: 3rem;

//             .before{
//                 font-size: .85em;
//             }
//         }

//     }
//     .home .blocks {
//         gap: 1.5rem;
//     }
    
//     .home .block {
//         width: 19rem;
//         height: 24rem;
//         font-size: .9em;
//     }

//     .home .order-options .wrapper .option .describe p {
//         font-size: 1.35em;
//     }
    
//     .home .order-options .wrapper .option .before {
//         width: 45%;
//         left: -10%;
//         transform: none;
//     }

//     .home .reviews .header-reviews p {
//         font-size: 2em;
//         letter-spacing: 3px;
//     }
    
// }

// @media (max-width: 800px) {
//     .home .reviews {
//         width: 95%;
//     }
// }

// @media (max-width: 700px) {
//     .home .order-options .wrapper {
//         width: 80%;
//     }

//     .home .order-options .wrapper .option .describe p {
//         font-size: 1.2em;
//     }

//     .home .order-options .wrapper .option .before {
//         font-size: .9em;
//     }

//     .home .reviews .header-reviews p {
//         font-size: 1.5em;
//         letter-spacing: 2px;
//     }

//     .home .blocks {
//         flex-direction: column;
//         gap: 3rem;
//     }

//     .home .col {
//         gap: 3rem;
//     }

//     .home .block {
//         width: 28rem;
//         height: 32rem;
//         font-size: 1.2em;
//     }
// }

// @media (max-width: 560px) {
//     .home .reviews .header-reviews {
//         flex-direction: column;
//         align-items: flex-start;
//         gap: 1rem;
//     }

//     .home .reviews .header-reviews p {
//         font-size: 2em;
//         letter-spacing: 3px;
//     }

//     .home .order-options .wrapper .option .before {
//         width: 55%;
//     }
// }

// @media (max-width: 500px) {
//     .home .order-options .wrapper {
//         width: 85%;
//     }

//     .home .order-options .wrapper .option .describe p {
//         font-size: 1.1em;
//     }

//     .home .order-options .wrapper .option .before {
//         width: 60%;
//     }
    
//     .home .block {
//         width: 22rem;
//         height: 30rem;
//         font-size: 1.1em;
//     }

//     .home .pergament-previews .pergament-paper {
//         height: 560px;
//         width: 370px;
//         font-size: 1.1em;
//     }
// }

// @media (max-width: 500px) {
//     .home .pergament-previews .pergament-paper {
//         height: 500px;
//         width: 320px;
//         font-size: .94em;
//     }

//     .home .order-options .wrapper .option .before {
//         width: 70%;
//     }

//     .home .order-options .wrapper .option .contact-us {
//         font-size: .7em;
//     }
// }

// @media (max-width: 380px) {
//     .home .order-options .wrapper {
//         width: 85%;
//     }

//     .home .order-options .wrapper .option .describe p {
//         font-size: 1em;
//     }

//     .home .order-options .wrapper .option .before {
//         width: 84%;
//     }

//     .home .reviews .header-reviews p {
//         font-size: 1.5em;
//     }

//     .home .block {
//         width: 18rem;
//         height: 24rem;
//         font-size: .85em;
//     }
// }