.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 500px;
    margin: 0 auto;
    margin-top: 200px;

    .side-image{
        height: 100%;
    }

    .login-form{
        background-color: #E85A4F;
        color: white;
        height: inherit;
        padding: 2rem;
        height: inherit;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        .header-login{
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 3rem;

            h2{
                font-weight: 700;
                font-size: 32px;
                line-height: 81.5%;
                letter-spacing: 0.05em;
            }

            a{
                color: white;
            }
        }

        

        .login-button{
            @include button;
            color: black;
            background-color: white;
            letter-spacing: 0;
            margin-top: .8rem;
            width: 100%;

            &:hover{
                background-color: rgb(214, 214, 214);
            }
        }
    }

    .side-login{
        height: inherit;
        position: relative;
        overflow: hidden;

        .text{
            width: 90%;
            position: absolute;
            top: 0;
            font-size: 1.7em;
            // box-shadow: 0px 5px 12px black;
            
            p{
                color: white;
                margin-left: 24px;
                margin-top: 24px;
            }
        }

        img{ 
            object-position: -20% -20%;
        }

        .shadow-overlay{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 110%;
            height: 200px;
            background-color: black;
            opacity: .37;
            box-shadow: 0px 12px 12px black;
        }
    }
}

@media (max-width: 550px) {
    .login-page .left-col .header-login h2 {
        font-size: 1.75em;
    }

    .login-page .left-col .form input {
        width: 350px;

    }
    
    .login-page .left-col .form .login-button {
        width: 350px;
    }
    
}

@media (max-width: 450px) {
    .login-page .left-col .header-login h2 {
        font-size: 1.55em;
    }

    .login-page .left-col .form input {
        width: 300px;
    }

    .login-page .left-col .form .text-label {
        font-size: 1.1em !important;;
        top: .5rem;
    }
    
    .login-page .left-col .form .login-button {
        width: 300px;
    }
    
}

@media (max-width: 380px) {
    .login-page .left-col .header-login h2 {
        font-size: 1.35em;
    }

    .login-page .left-col .header-login {
        margin-bottom: 1.5rem;
    }

    .login-page .left-col .form input {
        width: 250px;
    }

    .login-page .left-col .form .text-label {
        font-size: 1em !important; 
        top: .5rem;
    }
    
    .login-page .left-col .form .login-button {
        width: 250px;
        font-size: .9em;
    }
    
}

@media (max-width: 310px) {
    .login-page .left-col .header-login h2 {
        font-size: 1.1em;
    }

    .login-page .left-col .form input {
        width: 220px;
    }
    
    .login-page .left-col .form .login-button {
        width: 220px;
        font-size: .75em;
    }
    
}