.password-restore{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 35rem;

    .form{
        width: 40%;
        display: flex;
        flex-direction: column;

        h1{
            margin-bottom: 2rem;
        }

        .block{
            position: relative;
            margin-bottom: 2rem;
        }
        

        input{
            height: 40px;
            width: 100%;
            padding: .6rem 1.2rem;
            background-color: #D8C3A5;
            border: 1px solid #D8C3A5;
            outline: none;
            transition: all .1s ease-in-out;

            &:focus{
                border: 1px solid#B4B1A7;
            }
        }

        .error{
            border: 1px solid #E98074;
        }

        .text-label{
            z-index: 1;
            position: absolute;
            top: .3rem;
            left: 1rem;
            font-size: 1.2em;
            cursor: text;
            color: rgba(0, 0, 0, 0.68);
        }

        label, input[type=text]{
            display: block;
            user-select: none;
        }

        button{
            @include button;
            margin-top: .8rem;
        }
    }
}