.payment{
    width: 75%;
    margin: 0 auto;

    h1{
        color: #E85A4F;
        margin-bottom: 1rem;
    }

    h2{
        margin-bottom: .4rem;
    }

    .form{
        width: 50%;
        margin-left: 1rem;
        display: grid;
        gap: 1.5rem;
        grid-template-areas: 
            "CARD CARD"
            "NAME NAME"
            "EXPIRES CVV";

            .credit{
                grid-area: CARD;
            }

            .name{
                grid-area: NAME;
            }

            .expires{
                grid-area: EXPIRES;
            }

            .cvv{
                grid-area: CVV;
            }

    }

    .left-col{
        width: 100%;
    }

    input{
        height: 35px;
        padding: .6rem 1.2rem;
        width: 100%;
        background-color: #D8C3A5;
        border: 1px solid #D8C3A5;
        outline: none;
        transition: all .1s ease-in-out;
        margin-bottom: .5rem;

        &:focus{
            border: 1px solid#B4B1A7;
        }
    }

    button{
        @include button;
        margin-top: .8rem;
        padding: .6rem 5rem;
    }
}