@mixin button{
    padding: .6rem 1.5rem;
    background-color: #E98074;
    color: #EAE7DC;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.195em;
    cursor: pointer;
}




// #EAE7DC
// #D8C3A5
// #8E8D8A
// #E98074
// #E85A4F