.profile{
    width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
    
    .wrapper{
        margin-top: 1.5rem;
        display: flex;
        gap: 3rem;
    }

    .left-col{
        display: flex;
        flex-direction: column;

        img{
            width: 234px;
        }

        button{
            margin-top: 2rem;
            @include button;
            padding: .8rem 1rem;
        }
    }

    .right-col{
        display: flex;
        flex-direction: column;

        .selectors{
            display: flex;
            gap: 1rem;

            .block-select{
                @include button;
                background-color: #b4b1a7;

                transition: all .1s ease-in-out
            }

            .active{
                @include button;
            }
        }

        .block{
            margin-top: 2rem;
            height: 100%;

            .wrapper-info{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            
            .info{
                display: flex;
                gap: 8rem;

                li{
                    margin-top: .2rem;
                }
            }
            
            .buttons{
                margin-top: auto;
                display: flex;
                gap: 2rem;
    
                button{
                    @include button;
                    padding: .8rem 1.6rem;
                }
            }
        }
    }
}