.activate{
    width: 80%;
    margin: 0 auto;
    // margin-bottom: 40rem;
    margin-top: 4rem;

    h1{
        color: #E85A4F;
        margin-bottom: 1rem;
    }
    
    p{
        margin-top: .3rem;
        font-size: 20px;
    }

    a{
        @include button;
        margin-top: 1.5rem;
    }
}