.home {
  display: flex;
  flex-direction: column;
  position: relative;
}
.home .bg-ink {
  position: absolute;
  width: 86px;
  height: 86px;
  z-index: -1;
}
.home .image-1 {
  left: 137px;
  top: 188.09px;
  transform: rotate(-35.63deg);
}
.home .image-2 {
  left: 556.46px;
  top: 125px;
  transform: rotate(13.08deg);
}
.home .image-3 {
  left: 1399.41px;
  top: 209px;
  transform: rotate(20.71deg);
}
.home .image-4 {
  left: 1674.57px;
  top: 198.17px;
  transform: rotate(-33.54deg);
}
.home .image-5 {
  left: 1219.41px;
  top: 30px;
  transform: rotate(40.99deg);
}
.home .image-6 {
  left: 986px;
  top: 130.63px;
  transform: rotate(-11.15deg);
}
.home .image-7 {
  left: 1698.84px;
  top: 743px;
  transform: rotate(21.01deg);
}
.home .image-8 {
  left: 747.9px;
  top: 741.62px;
  transform: rotate(32.56deg);
}
.home .image-9 {
  left: 800px;
  top: 555.28px;
  transform: rotate(-12.95deg);
}
.home .image-10 {
  left: 609px;
  top: 534.73px;
  transform: rotate(-33.71deg);
}
.home .image-11 {
  left: 1099px;
  top: 722.68px;
  transform: rotate(-35.29deg);
}
.home .image-12 {
  left: 1651px;
  top: 1021.18px;
  transform: rotate(-33.27deg);
}
.home .image-13 {
  left: 2.54px;
  top: 572.51px;
  transform: rotate(-38.87deg);
}
.home .image-14 {
  left: 1405.98px;
  top: 976.94px;
  transform: rotate(-91.63deg);
}
.home .image-15 {
  left: 1220.3px;
  top: 513.25px;
  transform: rotate(-41.46deg);
}
.home .image-16 {
  left: 1090.95px;
  top: 909.33px;
  transform: rotate(23.74deg);
}
.home .image-17 {
  left: 1569px;
  top: 482.63px;
  transform: rotate(-47.72deg);
}
.home .image-18 {
  left: 887.66px;
  top: 1002.84px;
  transform: rotate(-28.61deg);
}
.home .image-19 {
  left: 200.07px;
  top: 404.73px;
  transform: rotate(22.71deg);
}
.home .image-20 {
  left: -5.48px;
  top: 924.44px;
  transform: rotate(39.83deg);
}
.home .image-21 {
  left: 794px;
  top: 330.5px;
  transform: rotate(-18.65deg);
}
.home .image-22 {
  left: 429.47px;
  top: 871px;
  transform: rotate(29.59deg);
}
.home .image-23 {
  left: 1105.19px;
  top: 304.26px;
  transform: rotate(31.5deg);
}
.home .language {
  position: absolute;
  right: 2.5rem;
  top: 8rem;
}
.home .blocks {
  display: flex;
  width: 43%;
  margin: 0 auto;
  margin-top: 7rem;
  justify-content: space-between;
}
.home .col {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.home .col-2 .block {
  margin-top: 16rem;
}
.home .block {
  background-color: #E85A4F;
  width: 22rem;
  height: 26rem;
  padding: 1rem 2rem;
  color: #EAE7DC;
  box-shadow: 7px 5px 0px black;
  font-weight: bold;
  font-size: 20px;
}
.home .block .pergament {
  width: 100px;
  margin-bottom: 1rem;
}
.home .block .feather {
  width: 80px;
  margin-bottom: 1.3rem;
  margin-top: 0.5rem;
}
.home .block .envelope {
  width: 95px;
}
.home .order {
  text-align: center;
  margin: 0 auto;
  margin-top: 4rem;
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background-color: #E85A4F;
  color: #EAE7DC;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.195em;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  padding: 0.8rem;
  width: 80%;
}
.home .order:hover {
  background-color: #ee7366;
}
.home .reviews {
  width: 70%;
  margin: 0 auto;
  margin-top: 4rem;
}
.home .reviews .header-reviews {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}
.home .reviews .header-reviews p {
  font-size: 40px;
  letter-spacing: 4px;
}
.home .reviews .header-reviews button {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background-color: #E85A4F;
  color: #EAE7DC;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.195em;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.home .reviews .header-reviews button:hover {
  background-color: #ee7366;
}
.home .reviews .leave-review {
  display: flex;
  overflow: hidden;
  align-items: center;
  gap: 2rem;
}
.home .reviews .leave-review div {
  display: flex;
  flex-direction: column;
}
.home .reviews .leave-review img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  width: 120px;
  height: 120px;
}
.home .reviews .leave-review .name {
  font-size: 32px;
  color: #E85A4F;
  font-weight: bold;
}
.home .reviews .leave-review input {
  background-color: #D8C3A5;
  border: 1px solid #D8C3A5;
  outline: none;
  transition: all 0.1s ease-in-out;
  padding: 0.5rem;
  margin-top: 0.5rem;
  min-width: 400px;
}
.home .reviews .leave-review input:focus {
  border: 1px solid #B4B1A7;
}
.home .reviews .leave-review button {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background-color: #E85A4F;
  color: #EAE7DC;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.195em;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.home .reviews .leave-review button:hover {
  background-color: #ee7366;
}
.home .reviews .review {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}
.home .reviews .review img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  width: 120px;
  height: 120px;
}
.home .reviews .review .name {
  font-size: 32px;
  color: #E85A4F;
  font-weight: bold;
}
.home .reviews .review .desc {
  font-size: 18px;
}
.home .reviews .more-reviews {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background-color: #E85A4F;
  color: #EAE7DC;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.195em;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  width: 100%;
  margin: 2rem 0;
}
.home .reviews .more-reviews:hover {
  background-color: #ee7366;
}

.login-page {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  margin-top: 4rem;
}
.login-page .left-col .header-login {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}
.login-page .left-col .header-login h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 81.5%;
  letter-spacing: 0.05em;
}
.login-page .left-col .header-login a {
  color: #E85A4F;
}
.login-page .left-col .form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.login-page .left-col .form .block {
  position: relative;
  margin-bottom: 2rem;
}
.login-page .left-col .form label, .login-page .left-col .form input[type=text] {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.login-page .left-col .form input {
  height: 40px;
  padding: 0.6rem 1.2rem;
  width: 400px;
  background-color: #D8C3A5;
  border: 1px solid #D8C3A5;
  outline: none;
  transition: all 0.1s ease-in-out;
}
.login-page .left-col .form input:focus {
  border: 1px solid #B4B1A7;
}
.login-page .left-col .form .error {
  border: 1px solid #E98074;
}
.login-page .left-col .form .text-label {
  z-index: 1;
  position: absolute;
  top: 0.3rem;
  left: 1rem;
  font-size: 1.2em;
  cursor: text;
  color: rgba(0, 0, 0, 0.68);
}
.login-page .left-col .form input[type=checkbox] {
  display: none;
}
.login-page .left-col .form .check-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-page .left-col .form .check-forgot a {
  color: #E85A4F;
}
.login-page .left-col .form .check label {
  cursor: pointer;
}
.login-page .left-col .form .check label::before {
  content: "";
  background-color: #D8C3A5;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  margin-bottom: -0.15rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.login-page .left-col .form .check input[type=checkbox]:checked + label::before {
  border-color: #D8C3A5;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='red' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.login-page .left-col .form .login-button {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background-color: #E85A4F;
  color: #EAE7DC;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.195em;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  margin-top: 0.8rem;
  width: 100%;
}
.login-page .left-col .form .login-button:hover {
  background-color: #ee7366;
}
.login-page .left-col .form .button-pending {
  display: flex;
  position: relative;
  gap: 2rem;
  width: 100%;
}
.login-page .left-col .form .ring-wrapper {
  position: absolute;
  right: -1rem;
}
.login-page .left-col .form .lds-ring {
  display: inline-block;
  position: relative;
}
.login-page .left-col .form .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  border: 6px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #E85A4F transparent transparent transparent;
}
.login-page .left-col .form .lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}
.login-page .left-col .form .lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.login-page .left-col .form .lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}
@-webkit-keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.customize {
  width: 75%;
  margin: 0 auto;
}
.customize h2 {
  margin-bottom: 0.2rem;
}
.customize .form {
  width: 50%;
}
.customize .form .block {
  margin-top: 1.2rem;
}
.customize .form .font .additional {
  display: flex;
  align-items: center;
}
.customize .form .font .additional select {
  width: 400px;
  height: 30px;
  background-color: #D8C3A5;
  border: none;
}
.customize .form .font .additional .error {
  border: 1px solid #E85A4F;
}
.customize .form .font .additional img {
  width: 36px;
  margin-left: 0.8rem;
  margin-right: 0.4rem;
  cursor: pointer;
}
.customize .form .big-content {
  display: flex;
  flex-direction: column;
}
.customize .form .title input {
  padding: 1.2rem 1rem;
  background-color: #D8C3A5;
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
}
.customize .form .content .content-header {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.customize .form .content .content-header span {
  color: #E85A4F;
}
.customize .form .content textarea {
  padding: 1.2rem 1rem;
  background-color: #D8C3A5;
  width: 100%;
  height: 200px;
  border: none;
  outline: none;
  resize: none;
}
.customize .form .content .error {
  border: 1px solid #E85A4F;
}
.customize .form .details textarea {
  padding: 1.2rem 1rem;
  background-color: #D8C3A5;
  width: 100%;
  height: 100px;
  border: none;
  outline: none;
  resize: none;
}
.customize .buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customize .buttons button {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background-color: #E85A4F;
  color: #EAE7DC;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.195em;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  padding: 0.6rem 5rem;
}
.customize .buttons button:hover {
  background-color: #ee7366;
}
.customize .buttons a {
  color: #E85A4F;
  transition: all 0.15s ease-in-out;
}
.customize .buttons a:hover {
  color: #E98074;
}

.forgot-page {
  margin-left: 14rem;
  margin-top: 7rem;
}
.forgot-page h1 {
  margin-bottom: 0.5rem;
}
.forgot-page .block {
  position: relative;
  margin-bottom: 1rem;
}
.forgot-page .email-block {
  margin-top: 2rem;
}
.forgot-page .email-block input {
  height: 40px;
  padding: 0.6rem 1.2rem;
  width: 400px;
  background-color: #D8C3A5;
  border: none;
  outline: none;
}
.forgot-page .email-block .text-label {
  z-index: 1;
  position: absolute;
  top: 0.4rem;
  left: 1rem;
  font-size: 1.2em;
  cursor: text;
  color: rgba(0, 0, 0, 0.68);
}
.forgot-page .button {
  display: flex;
  gap: 1rem;
}
.forgot-page .button button {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background-color: #E85A4F;
  color: #EAE7DC;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.195em;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  padding: 0.6rem 3rem;
}
.forgot-page .button button:hover {
  background-color: #ee7366;
}
.forgot-page .button .lds-ring {
  display: inline-block;
  position: relative;
  padding-top: 4px;
}
.forgot-page .button .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  border: 6px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #E85A4F transparent transparent transparent;
}
.forgot-page .button .lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}
.forgot-page .button .lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.forgot-page .button .lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.forgot-page .success-reset {
  opacity: 0;
  margin-top: 1rem;
  color: #E85A4F;
}

.activate {
  width: 80%;
  margin: 0 auto;
  margin-top: 4rem;
}
.activate h1 {
  color: #E85A4F;
  margin-bottom: 1rem;
}
.activate p {
  margin-top: 0.3rem;
  font-size: 20px;
}
.activate a {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background-color: #E85A4F;
  color: #EAE7DC;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.195em;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  margin-top: 1.5rem;
}
.activate a:hover {
  background-color: #ee7366;
}

.profile-wrapper {
  width: 100%;
  height: 100%;
}

.profile {
  width: 50%;
  margin: 0 auto;
  margin-top: 3rem;
}
.profile .orders .order {
  width: 100%;
  background-color: #E85A4F;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.profile .orders .order h2 {
  color: white;
  margin-bottom: 0.5rem;
}
.profile .orders .order p {
  color: white;
}
.profile .wrapper {
  margin-top: 1.5rem;
  display: flex;
  gap: 3rem;
}
.profile .left-col {
  display: flex;
  flex-direction: column;
}
.profile .left-col img {
  width: 234px;
  height: 234px;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
}
.profile .left-col input[type=file] {
  display: none;
}
.profile .left-col label {
  margin-top: 2rem;
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background-color: #E85A4F;
  color: #EAE7DC;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.195em;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  padding: 0.8rem 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.profile .left-col label:hover {
  background-color: #ee7366;
}
.profile .left-col .disabled {
  cursor: unset;
  background-color: #B4B1A7;
}
.profile .left-col .disabled:hover {
  background-color: #B4B1A7;
}
.profile .right-col {
  display: flex;
  flex-direction: column;
}
.profile .right-col .selectors {
  display: flex;
  gap: 1rem;
}
.profile .right-col .selectors .block-select {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background-color: #E85A4F;
  color: #EAE7DC;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.195em;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  background-color: #b4b1a7;
  transition: all 0.1s ease-in-out;
}
.profile .right-col .selectors .block-select:hover {
  background-color: #ee7366;
}
.profile .right-col .selectors .active {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background-color: #E85A4F;
  color: #EAE7DC;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.195em;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.profile .right-col .selectors .active:hover {
  background-color: #ee7366;
}
.profile .right-col .block {
  margin-top: 2rem;
  height: 100%;
}
.profile .right-col .block .wrapper-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
  justify-content: space-between;
}
.profile .right-col .block .wrapper-info input {
  background-color: #D8C3A5;
  border: 1px solid #D8C3A5;
  outline: none;
  transition: all 0.1s ease-in-out;
  padding: 4px;
}
.profile .right-col .block .wrapper-info input:focus {
  border: 1px solid #B4B1A7;
}
.profile .right-col .block .wrapper-info .error {
  border: 1px solid #E98074;
}
.profile .right-col .block .wrapper-info .success {
  border: 1px solid #00cc66;
}
.profile .right-col .block .info {
  display: flex;
  gap: 9rem;
  height: 100%;
}
.profile .right-col .block .info li {
  margin-top: 0.2rem;
  padding: 2px 0;
  height: 24px;
}
.profile .right-col .block .info .right-values li {
  display: flex;
  padding: 0;
}
.profile .right-col .block .buttons {
  margin-top: auto;
  display: flex;
  position: relative;
  gap: 2rem;
}
.profile .right-col .block .buttons button {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background-color: #E85A4F;
  color: #EAE7DC;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.195em;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  padding: 0.8rem 1.6rem;
}
.profile .right-col .block .buttons button:hover {
  background-color: #ee7366;
}
.profile .right-col .block .buttons .disabled {
  cursor: unset;
  background-color: #B4B1A7;
}
.profile .right-col .block .buttons .disabled:hover {
  background-color: #B4B1A7;
}
.profile .right-col .block .buttons .ring-wrapper {
  position: absolute;
  right: -1rem;
  top: -0.5rem;
}
.profile .right-col .block .buttons .lds-ring {
  display: inline-block;
  position: relative;
}
.profile .right-col .block .buttons .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  border: 6px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #E85A4F transparent transparent transparent;
}
.profile .right-col .block .buttons .lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}
.profile .right-col .block .buttons .lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.profile .right-col .block .buttons .lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.password-restore {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 35rem;
}
.password-restore .wrapper-restore {
  display: flex;
  justify-content: space-between;
}
.password-restore .form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.password-restore .form h1 {
  margin-bottom: 2rem;
}
.password-restore .form .block {
  position: relative;
  margin-bottom: 2rem;
}
.password-restore .form input {
  height: 40px;
  width: 100%;
  padding: 0.6rem 1.2rem;
  background-color: #D8C3A5;
  border: 1px solid #D8C3A5;
  outline: none;
  transition: all 0.1s ease-in-out;
}
.password-restore .form input:focus {
  border: 1px solid #B4B1A7;
}
.password-restore .form .error {
  border: 1px solid #E98074;
}
.password-restore .form .text-label {
  z-index: 1;
  position: absolute;
  top: 0.3rem;
  left: 1rem;
  font-size: 1.2em;
  cursor: text;
  color: rgba(0, 0, 0, 0.68);
}
.password-restore .form label, .password-restore .form input[type=text] {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.password-restore .form .button-block {
  position: relative;
  width: 100%;
}
.password-restore .form button {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background-color: #E85A4F;
  color: #EAE7DC;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.195em;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  width: 100%;
  margin-top: 0.8rem;
}
.password-restore .form button:hover {
  background-color: #ee7366;
}
.password-restore .form .ring-wrapper {
  position: absolute;
  right: -1rem;
  top: 0.1rem;
}
.password-restore .form .lds-ring {
  display: inline-block;
  position: relative;
}
.password-restore .form .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  border: 6px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #E85A4F transparent transparent transparent;
}
.password-restore .form .lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}
.password-restore .form .lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.password-restore .form .lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.destination {
  width: 75%;
  margin: 0 auto;
}
.destination [class*=copyrights-pane] {
  display: none;
}
.destination .form {
  width: 50%;
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
}
.destination .left-col {
  width: 100%;
}
.destination h1 {
  color: #E85A4F;
  margin-bottom: 1rem;
}
.destination h2 {
  margin: 0.4rem 0;
}
.destination input {
  height: 35px;
  padding: 0.6rem 1.2rem;
  width: 100%;
  background-color: #D8C3A5;
  border: 1px solid #D8C3A5;
  outline: none;
  transition: all 0.1s ease-in-out;
  margin-bottom: 0.5rem;
}
.destination input:focus {
  border: 1px solid #B4B1A7;
}
.destination textarea {
  width: 100%;
  resize: none;
  background-color: #D8C3A5;
  border: none;
  height: 200px;
  padding: 0.6rem;
  border: 1px solid #D8C3A5;
  outline: none;
  transition: all 0.1s ease-in-out;
}
.destination textarea:focus {
  border: 1px solid #B4B1A7;
}
.destination button {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background-color: #E85A4F;
  color: #EAE7DC;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.195em;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  margin-top: 0.8rem;
  padding: 0.6rem 5rem;
}
.destination button:hover {
  background-color: #ee7366;
}

.payment {
  width: 75%;
  margin: 0 auto;
}
.payment h1 {
  color: #E85A4F;
  margin-bottom: 1rem;
}
.payment h2 {
  margin-bottom: 0.4rem;
}
.payment .form {
  width: 50%;
  margin-left: 1rem;
  display: grid;
  gap: 1.5rem;
  grid-template-areas: "CARD CARD" "NAME NAME" "EXPIRES CVV";
}
.payment .form .credit {
  grid-area: CARD;
}
.payment .form .name {
  grid-area: NAME;
}
.payment .form .expires {
  grid-area: EXPIRES;
}
.payment .form .cvv {
  grid-area: CVV;
}
.payment .left-col {
  width: 100%;
}
.payment input {
  height: 35px;
  padding: 0.6rem 1.2rem;
  width: 100%;
  background-color: #D8C3A5;
  border: 1px solid #D8C3A5;
  outline: none;
  transition: all 0.1s ease-in-out;
  margin-bottom: 0.5rem;
}
.payment input:focus {
  border: 1px solid #B4B1A7;
}
.payment button {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background-color: #E85A4F;
  color: #EAE7DC;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.195em;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  margin-top: 0.8rem;
  padding: 0.6rem 5rem;
}
.payment button:hover {
  background-color: #ee7366;
}

.contact {
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.contact .left-col {
  padding: 2rem;
  padding-right: 3rem;
  width: 50%;
  background-color: #E85A4F;
  border-radius: 20px;
}
.contact .left-col h1 {
  color: white;
  margin-bottom: 1rem;
}
.contact .left-col h2 {
  color: white;
  margin-bottom: 0.3rem;
}
.contact .form {
  margin-left: 1rem;
  display: grid;
  gap: 1.5rem;
  grid-template-areas: "NAME SURNAME" "MESSAGE MESSAGE" "BTN BTN";
}
.contact .form .name {
  grid-area: NAME;
}
.contact .form .surname {
  grid-area: SURNAME;
}
.contact .form .message {
  grid-area: MESSAGE;
}
.contact .form input {
  height: 35px;
  padding: 0.6rem 1.2rem;
  width: 100%;
  background-color: #D8C3A5;
  border: 2px solid #D8C3A5;
  outline: none;
  transition: all 0.1s ease-in-out;
  margin-bottom: 0.5rem;
}
.contact .form input:focus {
  border: 2px solid white;
}
.contact .form textarea {
  width: 100%;
  resize: none;
  background-color: #D8C3A5;
  border: none;
  height: 200px;
  padding: 0.6rem;
  border: 2px solid #D8C3A5;
  outline: none;
  transition: all 0.1s ease-in-out;
}
.contact .form textarea:focus {
  border: 2px solid white;
}
.contact .form button {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background-color: #E85A4F;
  color: #EAE7DC;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.195em;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  margin-top: 0.8rem;
  background-color: #D8C3A5;
  color: #E85A4F;
  grid-area: BTN;
}
.contact .form button:hover {
  background-color: #ee7366;
}
.contact .form button:hover {
  background-color: #cec2b2;
}
.contact .info h1 {
  color: #E85A4F;
  margin-bottom: 0.5rem;
}
.contact .info p {
  font-size: 1.3em;
}
.contact .info ul {
  background-color: #E85A4F;
  border-radius: 20px;
  margin-top: 1rem;
  padding: 2rem;
  padding-top: 1rem;
}
.contact .info .block {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #B4B1A7;
}
.contact .info .block h2 {
  color: white;
}
.contact .info .block p {
  font-size: 1.1em;
  color: white;
  opacity: 0.7;
}

a {
  text-decoration: none;
}

a:visited {
  color: #EAE7DC;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-color: #EAE7DC;
  position: relative;
  min-height: calc(100vh - 5rem);
}
body::after {
  content: "";
  display: block;
  height: 75px;
}

main {
  margin-top: 5rem;
  width: 100%;
  height: 100%;
}

.header {
  z-index: 1999;
  background-color: #EAE7DC;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}
.header .quote {
  color: #EAE7DC;
  font-size: 3em;
  position: absolute;
  left: 9%;
  top: 30%;
  letter-spacing: 4px;
}
.header .quote-mark {
  position: absolute;
  left: 4%;
  top: 28%;
  height: 24px;
  width: 24px;
  scale: 4;
  color: #EAE7DC;
}
.header .logo {
  position: absolute;
  top: 2rem;
  transform: translateY(-50%);
  font-weight: bold;
  color: #E85A4F;
}
.header .login {
  position: absolute;
  right: 1rem;
  top: 0.8rem;
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background-color: #E85A4F;
  color: #EAE7DC;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.195em;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.header .login:hover {
  background-color: #ee7366;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 75px;
  background-color: #D8C3A5;
  color: #E85A4F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-weight: 700;
  font-size: 20px;
  line-height: 81.5%;
  letter-spacing: 0.1em;
}
.footer .icons {
  display: flex;
  gap: 0.5rem;
}
.footer .icons .tg {
  width: 40px;
}
.footer .icons .ig {
  width: 62px;
}/*# sourceMappingURL=index.css.map */