@import "./home";
@import "./presets";
@import "./log_in";
@import "./customize";
@import "./forgot_password";
@import "./verification";
@import "./profile";
@import "./password_restore";
@import "./destination";
@import "./payment";
@import "./leave_review";
@import "./contact";
@import "./vacations";
@import "./delivery_time";
@import "./carousel";
@import url("https://cdn.syncfusion.com/ej2/material.css");

a{
    text-decoration: none;
}

a:visited{
    color: #EAE7DC;
}

li{
    list-style: none;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
}

img{
    user-select: none;
}

body{
    background-color: #fdfabc;
    position: relative;
    min-height: calc(100vh - 5rem);
    scrollbar-width: 0px;

    &::-webkit-scrollbar{
        width: 0px;
    }

    &::after{
        content: "";
        display: block;
        height: 75px;
    }
    
}

.skeleton{
    animation: skeleton 1s linear infinite alternate;

    @keyframes skeleton {
        0%{
            background-color: hsl(200, 20%, 70%);
        }

        100%{
            background-color: hsl(200, 20%, 95%);
        }
    }
}

main{
    margin-top: 5rem;
    width: 100%;
    height: 100%;
}

.header{
    z-index: 1999;
    background-color: white;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;

    .menu{
        z-index: 110;
        width: 14rem;
        position: fixed;
        left: -14rem;
        top: 0;
        min-height: 100vh;
        background-color: #e6e6e6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 5rem;
        transition: all .3s ease-in-out;

        .links{
            display: flex;
            flex-direction: column;
        }

        a{
            @include button;
            margin-top: 2rem;
            background-color: #e6e6e6;
            color: #E85A4F;
            border: 2px solid #E85A4F;

            &:hover{
                background-color: #eeeded;
            }
        }

        .language{
            margin-bottom: 5rem;
        }
    }

    .opened{
        left: 0;
    }

    .hamburger-wrapper{
        position: absolute;
        left: 1rem;
        top: 1rem;
        cursor: pointer;
        padding: 1rem;
        z-index: 1100;
    }

    .hamburger{
        position: relative;

        width: 24px;
        height: 2px;
        border-radius: 10px;
        background-color: #E85A4F;
        transition: transform .2s ease-in-out;

        &::before{
            content: "";
            position: absolute;
            top: -6px;
            width: 24px;
            height: 2px;
            border-radius: 10px;
            background-color: #E85A4F;
            // transition: transform .2s ease-in-out;
            // transition: top .01s ease-in-out;
        }

        &::after{
            content: "";
            position: absolute;
            top: 6px;
            width: 24px;
            height: 2px;
            border-radius: 10px;
            background-color: #E85A4F;
            // transition: transform .2s ease-in-out;
            // transition: top .01s ease-in-out;
        }
    }

    .opened-hamburger{
        .hamburger{
            background: transparent;
    
            &::before{
                transform: rotate(45deg);
                border-radius: 0px;
                top: 0;
            }
    
            &::after{
                transform: rotate(-45deg);
                border-radius: 0px;
                top: 0;
            }
        }
    }

    .quote-block{
        position: absolute; 
        left: 9%;
        top: 30%;
        letter-spacing: 4px;
    }

    .quote{
        color: #EAE7DC;
        font-size: 3em;
        letter-spacing: 4px;
        margin-top: 2rem;
        line-height: 3.5rem;
    }

    .quote-mark{
        height: 24px;
        width: 24px;
        scale: 4;
        color: #EAE7DC;
    }

    .logo{
        position: absolute;
        top: 2rem;
        transform: translateY(-50%);
        font-weight: bold;
        color: #E85A4F;
    }

    .login{
        position: absolute;
        right: 1rem;
        top: .8rem;
        @include button;
    }

    .order{
        @include button;
        text-align: center;
        margin: 0 auto;
        margin-top: 6rem;
        padding: 1.6rem 6rem;
        background-color: #fff;
        color: #E85A4F;
        font-size: 2em;

        &:hover{
            background-color: #D8C3A5
        }
    }

}

@media (max-width: 1280px) {
    .extended{
        align-items: flex-start;
        justify-content: flex-start;

        .quote-block{

            .quote{
                font-size: 2.2em;    
            }
        }
    }
}

@media (max-width: 850px) {
    .header{
        .logo{
            left: 40% !important;
        }
    }
    
    .extended{
        .logo{
            left: 5% !important;
            font-size: 8em !important;
            top: 6rem !important;
        }

        .quote-block{
            padding: 2rem;

            .quote{
                font-size: 1.8em;    
            }
        }
    }
}

@media (max-width: 750px) {
    .header .order {
        padding: 1.5rem 4.5rem;
    }

    .extended .quote-block{

        .quote{
            margin-top: 3rem;
            font-size: 1.5em;    
        }
    }
}

@media (max-width: 666px) {
    .extended{
        .logo{
            top: 4.5rem !important;
            font-size: 6em !important;
        }

        .quote-block{
            padding: .4rem;
    
            .quote{
                margin-top: 3rem;
                font-size: 1.45em;    
                line-height: 2rem;
            }
        }
    }

    .header .order {
        margin-top: 3rem;
        padding: 1.3rem 2.5rem;
        font-size: 1.45em;
    }
}

@media (max-width: 560px) {
    .header{
        .logo{
            left: 15% !important;
            top: 3.6rem !important;
        }
    }
    
    .extended{
        .logo{
            left: 5% !important;
            font-size: 8em !important;
        }

        .quote-block{
            padding: 2rem;

            .quote{
                font-size: 1.8em;    
            }
        }
    }
    
    .header{

        // .logo{
        //     left: 4rem ;
        //     top: 2.3rem ;
        //     font-size: 1.5em ;
        // }
        
        .extended{
            .logo{
                top: 3rem !important;
                left: 2rem !important;
            }

        }

        .quote-block{
            padding: 0.2rem;
            left: 10%;
        }
        
        .opened{
            width: 100vw;
        }
    }

    .header .order {
        padding: 1.3rem 3rem;
        font-size: 1.15em;
    }
    
    .extended{
        .logo{
            font-size: 4.5em !important;
        }

    }

    .extended .quote-block .quote {
        margin-top: 3rem;
        font-size: 1.5em;    
    }
}

@media (max-width: 440px) {
    .header{
        .logo{
            left: 17% !important;
            top: 3.4rem !important;
        }
    }
    
    .extended{
        .logo{
            left: 5% !important;
            font-size: 4em !important;
        }

        .quote-block{
            padding: 2rem;

            .quote{
                font-size: 1.8em;    
            }
        }
    }
    
    .extended .quote-block .quote {
        font-size: 1.4rem;
    }
}

@media (max-width: 400px) {
    .header{
        .logo{
            top: 3.3rem !important;
        }
        .hamburger-wrapper{
            left: 0rem;
            top: .9rem;
        }
        
        .extended .logo{
            left: 1rem !important;
            top: 3rem !important;
            font-size: 3.6em !important;
        }
        
        .login{
            font-size: .8em;
            right: .5rem;
            padding: .6rem 1rem;
        }
        
    }

    .extended .quote-block .quote {
        font-size: 1.3rem;
    }

    .header .order {
        padding: 1.3rem 2.5rem;
        font-size: 1em;
    }
}

@media (max-width: 380px) {
    .header{
        .logo{
            font-size: 1.7em !important;
            top: 2.7rem !important;
        }
    }
    
    .extended{
        .logo{
            font-size: 3em !important;
            top: 7% !important
        }

        .quote-block{
            .quote{
                font-size: 1em;
                line-height: 1.8rem;
            }

            .order{
                padding: 1rem 1.8rem;
            }
        }
    }
}

@media (max-width: 300px) {
    .extended{
        .quote-block{
            .quote{
                font-size: 1em;
            }

            .order{
                font-size: .8em;
            }
        }
    }
}

.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 75px;
    background-color: #D8C3A5;
    color: #E85A4F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    font-weight: 700;
    font-size: 20px;
    line-height: 81.5%;
    letter-spacing: 0.1em;

    .icons{
        display: flex;
        gap: .5rem;
        
        .vk{
            width: 40px;
        }

        .ig{
            width: 62px;
        }
    }
}


@media (max-width: 820px) {
    .footer{
        font-size: 1em;

        .icons{
            display: flex;
            
            .vk{
                width: 30px;
                margin-top: .1rem;
            }
    
            .ig{
                width: 52px;
            }
        }
    }
}

@media (max-width: 666px) {
    .footer{
        font-size: .9em;
        
        .icons{
            display: flex;
            
            .vk{
                width: 28px;
            }
    
            .ig{
                width: 48px;
            }
        }
    }
}

@media (max-width: 600px) {
    .footer{
        font-size: .75em;
        height: 55px;
        
        .icons{
            display: flex;
            gap: .1rem;
            
            .vk{
                width: 24px;
            }
    
            .ig{
                width: 42px;
            }
        }
    }
}

@media (max-width: 500px) {
    .footer{
        font-size: .6em;
        
        .icons{
            display: flex;
            
            .vk{
                width: 22px;
            }
    
            .ig{
                width: 40px;
            }
        }
    }
}

@media (max-width: 415px) {
    .footer{
        font-size: .5em;
        height: 45px;
        
        .icons{
            display: flex;
            
            .vk{
                width: 18px;
            }
    
            .ig{
                width: 32px;
            }
        }
    }
}

@media (max-width: 350px) {
    .footer{
        font-size: .4em;
        
        .icons{
            display: flex;
            
            .vk{
                width: 14px;
            }
    
            .ig{
                width: 26px;
            }
        }
    }
}