@import "./home";
@import "./presets";
@import "./logIn";
@import "./customize";
@import "./forgot_password";
@import "./verification";
@import "./profile";

a{
    text-decoration: none;
}

a:visited{
    color: #EAE7DC;
}

li{
    list-style: none;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
}

img{
    user-select: none;
}

body{
    background-color: #EAE7DC;
}


.header{
    background-color: #EAE7DC;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;

    .quote{
        color: #EAE7DC;
        font-size: 3em;
        position: absolute; 
        left: 9%;
        top: 30%;
        letter-spacing: 4px;
    }

    .quote-mark{
        position: absolute; 
        left: 4%;
        top: 28%;
        height: 24px;
        width: 24px;
        scale: 4;
        color: #EAE7DC;
    }

    .logo{
        position: absolute;
        top: 1.5rem;
        transform: translateY(-50%);
        font-weight: bold;
        color: #E85A4F;
    }

    .login{
        position: absolute;
        right: 1rem;
        top: .8rem;
        @include button;
    }
}

.footer{
    margin-top: 5rem;
    width: 100%;
    background-color: #D8C3A5;
    color: #E85A4F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    font-weight: 700;
    font-size: 20px;
    line-height: 81.5%;
    letter-spacing: 0.1em;

    .icons{
        display: flex;
        gap: .5rem;
        
        .tg{
            width: 40px;
        }

        .ig{
            width: 62px;
        }
    }
}